<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div id="app">
<cpn1></cpn1>
</div>

<template id="cpn">
  <div>
    <h2>当前计数:{{counter}}</h2>
    <p>我是内容,呵呵</p>
  </div>
</template>

<script src="../js/vue.js"></script>
<script>


  Vue.component('cpn1', {
    template: '#cpn',
    data(){
      return {
        title:"222333",
        counter:0
      }
    }
  })
  const app = new Vue({
    el: '#app',
    data:{},

  })
</script>
</body>
</html>